## Customer Acquisiton KPIs

In [2]:
# Libraries needed
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

import json
from datetime import datetime, date, timedelta

# Libraries for plotting
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

In [3]:
import creds_panoply

POSTGRES_ADDRESS = creds_panoply.address
POSTGRES_PORT = creds_panoply.port
POSTGRES_USERNAME = creds_panoply.username
POSTGRES_PASSWORD = creds_panoply.pw
POSTGRES_DBNAME = creds_panoply.dbname

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(
    username=POSTGRES_USERNAME,
    password=POSTGRES_PASSWORD,
    ipaddress=POSTGRES_ADDRESS,
    port=POSTGRES_PORT,
    dbname=POSTGRES_DBNAME))

cnx = create_engine(postgres_str)

In [6]:
# Importing selected fields
tbl_name = "cirkul_database_import.business_intelligence_customers"
sel_fields = "shopify_customer_id, first_purchase_at"
query = "SELECT " + sel_fields + " FROM " + tbl_name
df_orders = pd.read_sql_query(query, cnx)

In [9]:
df_orders.isna().sum()

shopify_customer_id         0
first_purchase_at      886859
dtype: int64

In [11]:
df_orders.dropna(inplace=1)
df_orders.isna().sum()

ValueError: For argument "inplace" expected type bool, received type int.

In [7]:
df_orders

         shopify_customer_id   first_purchase_at
0              1323760418906                 NaT
1              1325303496794                 NaT
2              1325154205786                 NaT
3              1332657881178                 NaT
4              1325537951834                 NaT
...                      ...                 ...
1932351        3938766815322 2020-12-31 18:14:51
1932352        5091092824154 2021-03-24 06:51:14
1932353        5054266409050 2021-03-11 02:43:49
1932354        3931320549466 2020-12-27 18:02:18
1932355        2696219328602 2019-11-03 17:42:50

[1932356 rows x 2 columns]